<div class="entire-post">
  <div class="post-header">
    <div class="user-icon">
      <i class="{{profileIcon}}"></i>
    </div>
    <p class="user-name">
      <a href="#">{{userName}}</a>
    </p>
  </div>
  <div class="post-content">
    <img src="{{url}}">
  </div>
  <div class="post-features">
    <p class="description">{{description}}</p>
    <div class="features">
<button type="button" id="post-like-button"><i class="fa fa-heart"></i></button>
      <button type="button" id="post-comment-button"><i class="fa fa-comment"></i></button>
    </div>
  </div>
</div>
