<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>Beavstagram</title>


    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css" media="screen">

    <script src="photoCaptionTemplate.js" charset="utf-8" defer></script>
    <script src="index.js" charset="utf-8" defer></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
      UPLOADCARE_PUBLIC_KEY = '0090a8662cb0acacf77d';
      UPLOADCARE_LOCALE_TRANSLATIONS = {
        buttons: {
          choose: {
            images: {
                one: ""
              }
            }
          }
        };
      UPLOADCARE_EFFECTS = 'crop,rotate,mirror,flip,enhance,sharp,blur,grayscale,invert';
      UPLOADCARE_IMAGES_ONLY = true;
      UPLOADCARE_PREVIEW_STEP = true;
      UPLOADCARE_CLEARABLE = true;
    </script>

    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
    <script src="https://ucarecdn.com/libs/widget-tab-effects/1.x/uploadcare.tab-effects.js"></script>

    <script>
      uploadcare.registerTab('preview', uploadcareTabEffects)
    </script>

</head>

  <body>

    <header>

            <h1 id="site-title">Beavstagram</h1>


			<ul class="navlist">

				<li class="navitem navbar-search">
				<input type="text" id="navbar-search-input" placeholder="Search...">
				<button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
				</li>

				<li><button type="button" class ="navitem headerstuff" id="navbar-profile-button"><i class="fa fa-user"></i></button></li>
				<li><button type="button" class ="navitem headerstuff" id="navbar-friend-button"><i class="fa fa-users"></i></button></li>
      </div>
    </header>

    {{{body}}}

  </body>
