





/*LINKS ------------------------------------------------*/
a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: #319DF6;
}



/*NAVBAR--------------------------------------------------*/



#site-title {
    font-style: sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    position: fixed;
    width: 100%;
    color: white;
	margin-left: 15%;
	
}

header{
	width: 100%;
	height: 80px;
	background-color: black;
	position: fixed;
	top: 0px;
	margin-top: 0px;
}


.navlist{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.navitem{
	display: inline-block;
	float: right;
	margin-right: 3em;
}

.headerstuff{
	margin-right: 0;
}


#navbar-search-input {
  padding-left: 5px;
  font-size: 14px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 0;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  font-size: 16px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: orange;
}

#navbar-search-button:focus {
  color: white;
  outline: none;
}

#navbar-profile-button {
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

#navbar-like-button {
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

#navbar-friend-button {
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}


.float-right {
    position: fixed;
    top: 100px;
    right: 100px;
}


/* BODY WITH POSTS-----------------------------------------*/
.container { 
    background-color: #ff6600;
	padding: 20px;
}

#imagesContainer {
    justify-content: center;
	margin: auto;
	hieght: auto;
	display: block;
	margin-top: 100px;
	
}

.entire-post {
    position: static;
    width: 40%;
    height: 500px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
	margin: auto;
	margin-bottom: 2em;
    
}


.post-header {
	width: 80%;
	margin:auto;
}

.user-icon {
  display: inline-block;
}

.user-name {
  display: inline-block;
}

img{
	width: 100%;
	height: 300px;
	object-fit: contain;
}

.post-content {
    width: 95%;
	height: 327px;
	margin: auto;
	margin-top: 5%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 10px;
}

.description{
	width: 100%;
	margin-left: 10%;
	align-text: center;
}

#post-like-button {
	font-size: 16px;
	background: none;
	border: none;
	color: black;
	cursor: pointer;
	margin-top: 50px;
	margin-left:5px;
}
#post-comment-button {
	font-size: 16px;
	background: none;
	border: none;
	color: black;
	cursor: pointer;
	margin-top: 50px;
}
#post-comment-button:active {
	color: #ff6600;
}
#post-like-button:active {
	color: #ff6600;
}


